﻿@model FPIdeasWatch.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>
    .field-validation-error, .validation-summary-errors {
        color: #900;
    }
</style>


<div class="banner"></div>

<section id="socialLoginForm" class="login_container " style="padding:10px;">
    @*@Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })*@

    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-group">
            <label>Domain Id</label>
            @Html.TextBoxFor(m => m.UserName, new { placeholder = "Your Domain Id", @Class = "form-control input-sm" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div class="form-group">
            <label>Password</label>
            @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @Class = "form-control input-sm" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <button type="submit" id="btnLoginSubmit" class="btn btn-primary btn-sm btnLoginSubmit">Sign in</button>
        <br />
    }

</section>



<footer>
    <p>&copy; @DateTime.Now.Year - Fareportal. All rights are reserved.</p>
</footer>




