﻿@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorDetails</title>
</head>
<body>
    <div> 
        @ViewBag.Fail
    </div>
</body>
</html>
