﻿
@{
    ViewBag.Title = "LoginFail";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Login Fail</h2><br /><br />
<h3>Kindly make sure you are using your fareportal gmail account</h3><br /><br />
@Html.ActionLink("Go To Login", "Login", "Account")

