﻿
@{
    ViewBag.Title = "Session Expired";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<br />
<h2 class="page-heading">Session Expired</h2>

@Html.ActionLink("Go To Login", "Login", "Account", new { @class= "btn btn-danger"},null)
