﻿
@{
    Layout = null;
    ViewBag.Title = "UnauthorizedAccess";
}
<div class="row m-n">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="text-center m-b-lg">
            <h4 class="h text-white animated fadeInDownBig">Sorry, Unauthorised Access.</h4>
        </div>
        <div class="text-center m-b-lg">
            @* <p class="text-danger">Sorry, No Unauthorised Access.</p>   *@
        </div>
        <div class="list-group m-b-sm bg-white m-b-lg">
            <i class="icon icon-fw icon-home icon-muted"></i>&nbsp;@Html.ActionLink("Goto Login", "Login", "Account")<i class="icon icon-chevron-right icon-muted pull-right"></i>

        </div>
    </div>
</div>


