﻿@model DataModel.BO.IdeasWatchDetail
@{

    bool isEditMode = Model.IdeasWatchId > 0;
    int n = isEditMode ? 1 : 0;
    string disabledCalss = isEditMode ? " disabledCalss" : "";
    var listCategory = ViewBag.ListItemCategory;

}

<span id="hdnEditMode_addIdea" data-isedit="@n"></span>
<h2 class="page-heading ideabox">
    <i class="icon icon-lightbulb"></i>  @if (!isEditMode)
    { <span>Add Your Idea</span>}
    else
    { <span>Edit your Idea</span>}
</h2>
<span id="addIdea" data-isadded="@ViewBag.IsIdeaAdded"></span>
<span id="addIdeaCode" data-ideaaddedcode="@ViewBag.IdeaAddedCode"></span>

@using (Ajax.BeginForm("AddIdea", "IdeaWatch", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "Ideas", OnComplete = "AddedDone", OnFailure = "Message(xhr.responseText, 'Error');" }, new { enctype = "multipart/form-data", id = "frmID" }))
{
    @Html.HiddenFor(m => m.IdeasWatchId)
    <div class="add-idea-cnt clearfix">
        <div class="row-idea clearfix">
            <div class="col-lg-4 idea-cols">
                <label>Category <span class="reqired">*</span></label>
                <div>
                    @Html.DropDownListFor(m => m.IdeaCategoryId, Model.CategoryList, new { @class = "form-control input-sm" })

                </div>
            </div>
            <div class="col-lg-8 idea-cols">
                <div class="add-del-cate">
                    @if (DataModel.Utility.CurrentUser.CurrentUserDetail.IsSuperAdmin)
                    {
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#addCategoryModal" class="is--green-link" title="Add Category"><i class="icon icon-plus"></i>Category</a>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#removeCategoryModal" class="is--red-link" title="Remove Category"><i class="icon icon-remove"></i>Category</a>
                    }
                </div>
            </div>

            @if (DataModel.Utility.CurrentUser.CurrentUserDetail.IsSuperAdmin)
            {
                //<a class="btn btn-sm btn-dark m-r pull-left" href="javascript:;" id="addCategory"><i class="icon icon-plus"></i>&nbsp;Add New Category</a>


                        <!-- Modal -->
                <div id="addCategoryModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add Category</h4>
                            </div>
                            <div class="modal-body">
                                <div class="clearfix m-b">
                                    <label class="pull-left m-r m-t-xs col-md-4">Category Name:</label><input id="txtCategoryName" type="text" class='input-sm input-s-lg form-control pull-left' placeholder="Category Name" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="saveNewCategoryname"><i class="icon icon-ok"></i>&nbsp;Save changes</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="removeCategoryModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Remove Category</h4>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <ul id="ListUsers" class="member__list">
                                        @if (listCategory != null)
                                        {
                                            foreach (var v in listCategory)
                                            {
                                                if (Convert.ToInt32(v.Value) > 0)
                                                {
                                                    <li class="list__item" id="@v.Value">@v.Text<a href="#" data-categoryid="@v.Value" data-name="@v.Text" class="btnCategoryDelete is--red-link"><i class="icon icon-remove"></i> Delete</a></li>
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="row-idea clearfix">
            <div class="col-lg-6 idea-cols">
                <label>Title <span class="reqired">*</span></label>
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control input-sm" + @disabledCalss + "" })

            </div>
            <div class="col-lg-6 idea-cols">
                <div class="existingbug">
                    <span class="is--existingbug">(<i class="icon icon-bug2"></i>)</span> Idea for existing bug
                    @Html.CheckBoxFor(m => m.IsBug)
                </div>
            </div>

        </div>
        <div class="row-idea clearfix">
            @if (!isEditMode)
            {
                <div class="col-lg-6 idea-cols">
                    <label>Keys</label> <span class="req-character">( Press enter after typed key)</span>
                    @Html.TextBoxFor(m => m.keys, new { @class = "form-control" })
                </div>
            }
        </div>
        <div class="row-idea">
            <div class="col-lg-12 idea-cols">
                <label>Description <span class="reqired">*</span></label>
                <div id="description-container">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                </div>
                <span class="req-character">( Min. Remaining Characters <strong><span id="counter"></span></strong> )</span>
                <span style="display:none" id="counter-digit"></span>
            </div>

        </div>

        <div class="row-idea page-elem-select clearfix">
            @*<div class="col-lg-3 idea-cols">
                    <label>Page Name </label>
                    <div>
                        @Html.DropDownListFor(m => m.PageNameId, Model.PageNameList, new { @class = "form-control input-sm" })
                    </div>
                </div>*@


            @*<div class="col-lg-3 idea-cols">
                    <label>Product Type </label>
                    <div>
                        @Html.DropDownListFor(m => m.ProductTypeId, Model.ProductTypeList, new { @class = "form-control input-sm" })
                    </div>
                </div>*@


            @*<div class="col-lg-3 idea-cols">
                    <label>Platform </label>
                    <div>
                        @Html.DropDownListFor(m => m.PlatformTypeId, Model.PlatformTypeList, new { @class = "form-control input-sm" })
                    </div>
                </div>*@
            @*<div class="col-lg-3 idea-cols">
                    <label>Business Impact </label>
                    <div>
                        @Html.DropDownListFor(m => m.BusinessImpactId, Model.BusinessImpactList, new { @class = "form-control input-sm" })
                    </div>
                </div>*@
            @if (!isEditMode)
            {
                <div class="col-lg-3 idea-cols">
                    <label>Location<span class="reqired">*</span></label>
                    <div>
                        @Html.DropDownListFor(m => m.LocationId, Model.LocationList, new { @class = "form-control input-sm"})
                    </div>
                </div>
            }
            @if (isEditMode)
            {
                <div class="col-lg-3 idea-cols">
                    <label>Location<span class="reqired">*</span></label>
                    <div>
                        @Html.DropDownListFor(m => m.LocationId, Model.LocationList, new { @class = "form-control input-sm", @disabled = "disabled"  })
                    </div>
                </div>
            }
           
            <div class="col-lg-3 idea-cols">
                <label>Replicated<span class="reqired">*</span></label>
                <div>
                    @Html.DropDownListFor(m => m.ReplicatedId, Model.ReplicatedList, new { @class = "form-control input-sm" })
                </div>
            </div>
            <div class="col-lg-3 idea-cols">
                <label>Related To<span class="reqired">*</span></label>
                <div>
                    @Html.DropDownListFor(m => m.RelatedToId, Model.RelatedToList, new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>
        <div class="row-idea clearfix">
            <div class="col-lg-6 idea-cols is--CurrentScenario">
                <label>Current Scenario</label>
                @*@Html.TextAreaFor(m => m.CurrentScenario, new { @id = "CurrentScenario", @class = "form-control input-sm" })*@
                @Html.TextBoxFor(m => m.CurrentScenario, new { @class = "form-control input-sm" })
            </div>
            <div class="col-lg-6 idea-cols is--BenifitofIdea">
                <label>Benefit of Idea</label>
                @*@Html.TextAreaFor(m => m.BenifitIdea, new { @id = "BenifitIdea", @class = "form-control input-sm" })*@
                @Html.TextBoxFor(m => m.BenifitIdea, new { @class = "form-control input-sm" })
            </div>
        </div>

        <div class="row-idea clearfix page-elem-select">
            @*<div class="col-lg-3 idea-cols">
                    <label>Business Objective </label>
                    <div>
                        @Html.DropDownListFor(m => m.BusinessObjectiveId, Model.BusinessObjectiveList, new { @class = "form-control input-sm" })
                    </div>
                </div>*@


            @if (!isEditMode)
            {

                <div class="col-lg-9 idea-cols clearfix">
                    <div class="uploadfiles clearfix">
                        @Html.HiddenFor(i => i.FilesToBeUploaded)
                        <div id="uploaders" class="pull-left">
                            <input type="file" id="fileToUpload"
                                   name="fileUpload" multiple="multiple" style="float: left;" />

                            <span id="spnFile" style="float: left; color: #FF0000"></span>
                            @Html.ValidationMessage("File")
                            @Html.Hidden("hdnFileUpload")
                        </div>

                        <ul id="selectedFiles" class="selected-files pull-left"></ul>
                    </div>
                </div>


            }


        </div>




        <div class="row-idea clearfix">
            <div class="col-lg-12 idea-cols clearfix" style="padding-bottom:0;">

                <button id="btnSavePost" type="button" class="btn btn-sm btn-success pull-left">
                    <i class="icon icon-comment"></i>@if(isEditMode)
                    {<span> Save</span>}
                    else
                    {<span> Post</span>}
                </button>
                &nbsp;&nbsp;
                @if (isEditMode)
                {
                    <button id="btnCancelEditIdea" type="button" class="btn btn-sm btn-success">
                        <i class="icon icon-cancel-circle"></i>
                        <span>Cancel</span>
                    </button>
                }
            </div>
        </div>


        @if (isEditMode)
        { <span style="display:none;">
            @Html.ActionLink("RedirectTo", "IdeaWatchDeatil", "IdeaWatch", new { ideaWatchId = Model.IdeasWatchId }, new { id = "RedirectTo" })
        </span>
        }


    </div>
}

@section Scripts {

    @Scripts.Render("~/bundles/AddIdea")
}
