﻿@model List<DataModel.BO.CommentDetail>
@{
    string style =  "display: none;";
}

@foreach (var child in Model.OrderBy(m => m.CreatedOn))
{
    <div class="comment-list">
        <table class="comment-tbl">
            <tr>
                <td width="40"><img class="comment-profileimg" src="@child.ImageUrl" width="30" height="30" alt="" ></td>
                <td>
                    <p>@Html.Raw(child.Comment)</p>
                    <div class="is--noteusermail">@child.UserName <span class="is--notetime">(@DataModel.Utility.Base.GetTime(child.CreatedOn))</span></div>
                </td>
                @if (DataModel.Utility.CurrentUser.CurrentUserDetail.IsSuperAdmin || DataModel.Utility.CurrentUser.CurrentUserDetail.IsReviewPanelMember)
                { 
                <td valign="top" align="center" width="20">
                    <a href="#" data-commentid="@child.CommentId" class="btnPostCommnetDelete is--reply"><i class="icon icon-remove"></i></a>
                </td>
                }
            </tr>
        </table>
       
        <div style="clear:both;"></div>

        <div class="commnetReplyContainer-main">
            <a href="javascript: void();" onclick="javascript: $(this).next().toggle();" class="is--reply">
                <i class="icon icon-reply-all"></i>  <span class="commnetReplyContainer-main-count">@child.CommentReplyList.Count() </span> replies
            </a>
            <div class="commnetReplyContainer" style="@style">
                <div class="commnetReplyContainer-list">
                    @Html.Partial("_CommnetReply", child.CommentReplyList)

                   
                </div>
                <div class="textareaContainer" style="width: 100%;margin-bottom:10px;">
                    <input type="text" class="txtCommentsReply" name="txtCommentsReply" style="width:450px" />
                    @*<textarea class="txtCommentsReply" name="txtCommentsReply" style="width:450px"></textarea>*@
                    <img src="@DataModel.Utility.CurrentUser.CurrentUserDetail.ImageUrl" width="30" height="30" class="comment-profileimg" alt="" style="margin-top:-1px;"> <a href="#" data-commentid="@child.CommentId" class="btnPostCommnetReply is--reply"><i class="icon icon-reply"></i> Reply</a> 
                  
                    @*<button data-commentid="@child.CommentId" class="btnPostCommnetReply btn btn-success" type="button">Reply</button>*@
                </div>


            </div>
        </div>

    </div>



}




