﻿@model List<DataModel.BO.CommentReplyDetail>
@foreach (var childReply in Model.OrderBy(m => m.CreatedOn))
{
    <div class="comment-list rply-comment-list">
        <table class="comment-tbl">
            <tr>
                <td width="40">
                    <img class="comment-profileimg" src="@childReply.ImageUrl" width="30" height="30" alt="">
                </td>
                <td>
                    <p>@Html.Raw(childReply.Detail)</p>
                    <div class="is--noteusermail">@childReply.UserName <span class="is--notetime">(@DataModel.Utility.Base.GetTime(childReply.CreatedOn))</span></div>
                </td>
                @if (DataModel.Utility.CurrentUser.CurrentUserDetail.IsSuperAdmin || DataModel.Utility.CurrentUser.CurrentUserDetail.IsReviewPanelMember)
                {
                    <td valign="top" align="center" width="20">
                        <a href="#" data-replycommentid="@childReply.CommentReplyId" class="btnReplyCommnetDelete is--reply"><i class="icon icon-remove"></i></a>
                    </td>
                }
            </tr>
        </table>
    </div>

}