﻿@model DataModel.BO.IdeasWatchDetail
@{
    bool IsViewOnly = ViewBag.IsViewOnly == null ? true : ViewBag.IsViewOnly;
    int lastkeyIndex =Model.KeyList==null?0:Model.KeyList.Count - 1;
    //var subscribersLike = "";
    //var q = from l in Model.LikedUserList select l;
    //if (q.Count() > 0)
    //{
    //    subscribersLike = (q).Aggregate((c, n) => c + ", " + n);
    //}
    //var subscribersUnlike = "";
    //var s = from l in Model.UnlikedUserList select l;
    //if (s.Count() > 0)
    //{
    //    subscribersUnlike = (s).Aggregate((c, n) => c + ", " + n);
    //}
    var likeCount = Model.LikedUserList == null ? 0 : Model.LikedUserList.Count;
}
@*data-content="@subscribersLike"*@
      
@if (Model.IsLikedByCuurentUser)
{
    <span  class="badge badge-success">@likeCount</span> <a href="#" class="mypopover like_count" rel="popover"></a>
    <a data-ideaid="@Model.IdeasWatchId" data-isliked="0" href="#" class="like_action linkLikeIdea">Like</a>
    @*<span style="color:gray!impartant" class="like_disable">Like</span>*@
}
else
{
    <span  class="badge badge-success">@likeCount</span><a href="#" class="mypopover unlike_count" rel="popover"></a>
    <a data-ideaid="@Model.IdeasWatchId" data-isliked="1" href="#" class="like_action linkUnLikeIdea">Like</a>
}

@*data-content="@subscribersUnlike"*@
