﻿@model DataModel.BO.IdeasWatchDetail
@{
    bool childAdded = (ViewData.ContainsKey("ChildAdded"));
    string style = "display: none;";
    if (childAdded)
    {
        style = "";
    }
    string cls = "";
    var ideaWatchId = Model.IdeasWatchId;
    var title = Model.Title == null ? "No Title" : Model.Title;
    var discription = Html.Raw(Model.Description);
     int ideaPage = ViewData["IdeaPage"] != null ? Convert.ToInt32(ViewData["IdeaPage"]) : 2;
    int lastkeyIndex = Model.KeyList!=null?0: Model.KeyList.Count-1;
  //  bool enableChangeStatus = ViewData["EnableChangeStatus"] != null ? Convert.ToBoolean(ViewData["EnableChangeStatus"]) : false;
 
}

<div class="@cls col-md-4 col-sm-6">
    <section class="ideanote-block">
        <div class="ideanote-sticker"><i class="icon icon-paper-clip"></i></div>
        <div class="ideanote">
            <div class="ideanot_content">
                <table>
                    <tr>
                        <td>@Html.ActionLink(title, "IdeaWatchDeatil", "IdeaWatch", new { ideaWatchId = ideaWatchId }, null)</td>
                    </tr>
                </table>

            </div>
            @if (Model.IsBug)
            { <div class="is--notebug"><i class="icon icon-bug2" title="This idea for existing bug"></i></div> }

        </div>

        <div class="ideanote_detail hide-download-files">
            @Html.Partial("_NoteDetail", Model, new ViewDataDictionary { { "IdeaPage", ideaPage } })

        </div>
        <span class="idea-code">
            @Html.DisplayFor(m => m.IdeaCode)
        </span>
        @if (DataModel.Utility.CurrentUser.CurrentUserDetail.IsSuperAdmin)
        {
            <span class="is--notedelete" title="Delete">
                <a class="btnDeleteIdea" data-ideaid="@Model.IdeasWatchId" href="#"><i class="icon icon-remove2"></i></a>
            </span>
        }
    </section>


</div>