﻿@model IPagedList<DataModel.BO.IdeasWatchDetail>
@using PagedList
@using PagedList.Mvc
@{
    
    int ideaPage = ViewData["IdeaPage"] != null ? Convert.ToInt32(ViewData["IdeaPage"]) : 2;
    string sortBy="Recently Added";
    string keyName = "";
    var keyId = Request.QueryString["keyId"];
    if (!string.IsNullOrEmpty(keyId))
    {
       keyName ="'"+ BusinessLogicLayer.BLL.IdeasWatch.GetKeyName(Convert.ToInt32(keyId))+"' Ideas";
        
    }
   // bool enableChangeStatus = ViewData["EnableChangeStatus"] != null ? Convert.ToBoolean(ViewData["EnableChangeStatus"]) : false;
}


<div id="ideaListView-container">
    <input type="hidden" value="@ideaPage" data-keyname="@keyName" data-keyid="@keyId" id="IdeaPage" />
    @if (Model.PageCount > 0)
    {

        <div class="pagedList clearfix">
            <div id="lblIdea-sortBy" class="pull-left is--recently">@sortBy</div>

            <div id="lblIdea" class="pull-left is--recently">@keyName</div>
            <div id="pagingContainer">
                @if ( Model.PageCount > 1)
                {
                    <div class="pull-left is--pageof">( Page <strong>@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)</strong> of <strong>@Model.PageCount</strong> )</div>
                    <div class="pull-right">@Html.PagedListPager(Model, page => Url.Action("#", new { page }))</div>
                }
                @*@if (ideaPage == DataModel.Utility.Consts.IdeaPage.ManageIdea && Model.PageCount > 1)
                {
                    <div class="pull-left is--pageof">( Page <strong>@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)</strong> of <strong>@Model.PageCount</strong> )</div>
                    <div class="pull-right">@Html.PagedListPager(Model, page => Url.Action("#", new { page }))</div>
                }*@
            </div>
        </div>

        <div class="clearfix">
            @foreach (var item in Model)
            {

                @Html.Partial("_Idea", item, new ViewDataDictionary { { "IdeaPage", ideaPage } })


            }
        </div>
    
        <div class="pagedList clearfix is-bottom">
            <div class="pull-right">
                @if (ideaPage == DataModel.Utility.Consts.IdeaPage.ViewIdea && Model.PageCount > 1)
                {
                    @Html.PagedListPager(Model, page => Url.Action("#", new { page }))
                }
                @if (ideaPage == DataModel.Utility.Consts.IdeaPage.ManageIdea && Model.PageCount > 1)
                {
                    @Html.PagedListPager(Model, page => Url.Action("#", new { page }))
                }
            </div>
        </div>
    }
    else
    {
        <div  class="alert alert-danger"><i class="icon icon-sign"></i> <strong>No Records!</strong></div>
    }
</div>

<script>
    $(function () {
        $('.pagination').addClass('pagination-sm');
    })
</script>
