﻿@model DataModel.BO.IdeasWatchDetail
@{
    bool IsViewOnly = ViewBag.IsViewOnly == null ? true : ViewBag.IsViewOnly;
    int lastkeyIndex = Model.KeyList == null ? 0 : Model.KeyList.Count - 1;
    //var subscribersLike = "";
    //var q = from l in Model.LikedUserList select l;
    //if (q.Count() > 0)
    //{
    //    subscribersLike = (q).Aggregate((c, n) => c + ", " + n);
    //}
    //var subscribersUnlike = "";
    //var s = from l in Model.UnlikedUserList select l;
    //if (s.Count() > 0)
    //{
    //    subscribersUnlike = (s).Aggregate((c, n) => c + ", " + n);
    //}
    //var aa = ViewBag.EnableChangeStatus;
    //bool enableChangeStatus = ViewBag.EnableChangeStatus == null ? false : ViewBag.EnableChangeStatus;

    int ideaPage = ViewData["IdeaPage"] != null ? Convert.ToInt32(ViewData["IdeaPage"]) : 2;

    // bool enableChangeStatus =ViewData["EnableChangeStatus"] != null ? Convert.ToBoolean(ViewData["EnableChangeStatus"]) : false;
}

@if (Model.KeyList != null && Model.KeyList.Count > 0)
{
    <div class="is-notetags">
        <i class="icon icon-tags"></i>
        @foreach (var key in Model.KeyList)
        {

            @Html.ActionLink(key.keyName, "ViewIdeasWatch", "IdeaWatch", new { keyId = key.keyId }, null)
            if (Model.KeyList[lastkeyIndex].keyId != key.keyId)
            {
                <span></span>
            }

        }

    </div>

}
<ul class="ideanote_list clearfix">
    <li class="pull-left">
        <div class="IdeaLikeUnlike-count">
            @Html.Partial("_IdeaLikeUnlike", Model)
        </div>
    </li>
    @if (Model.AttachmentList.Count > 0)
    {
        <li class="pull-left">
            <div class="is--noteattachment pull-left"><i class="icon icon-attachment"></i> (@Model.AttachmentList.Count) </div>
            <div id="fileContainer" class="pull-left">
                @foreach (var file in Model.AttachmentList)
                {
                    <span class="download-files pull-left">@file.FileName @*<a href="/IdeaWatch/DownloadFile?attachmentId=@file.AttachmentId" title="Download File"><i class="icon icon-download3"></i></a>*@  @*@Html.ActionLink("Download", "Download", "IdeaWatch", new { attachmentId = file.AttachmentId }, null)*@</span>
                    <div class="preview-files pull-left">
                        @*<a target="_blank" href="/IdeaWatch/PreviewFile?attachmentId=@file.AttachmentId"><i class="icon icon-image2"></i></a>*@
                        <a target="_blank" href="@DataModel.Utility.Base.BaseImageUrl@file.FileName"><i class="icon icon-image2"></i></a>
                         <div class="popover tip bottom">
                            <div class="arrow"></div><div class="popover-content">
                                @if (file.FileType == DataModel.Utility.Consts.FileType.Jpeg || file.FileType == DataModel.Utility.Consts.FileType.Jpg || file.FileType == DataModel.Utility.Consts.FileType.Gif || file.FileType == DataModel.Utility.Consts.FileType.Png)
                                { <img src="@DataModel.Utility.Base.BaseImageUrl@file.FileName" />}
                                else
                                { <span class="no-thumbnail-msg">No Thumbnail Preview!</span>}
                            </div>
                        </div>
                    </div>
                }
            </div>
        </li>
    }
    else if (Model.AttachmentCount > 0)
    {

        <li class="pull-left">
            <div class="is--noteattachment pull-left"><i class="icon icon-attachment"></i> (@Model.AttachmentCount) </div>
        </li>

    }



    @if (Model.IsEditPermission && (Model.IdeaStatusId == DataModel.Utility.Consts.IdeaStatus.Pending))
    {
        <li class="pull-left">
            <span class="label label-danger is--edit ">
                @Html.ActionLink("Edit", "EditIdea", "IdeaWatch", new { ideaWatchId = Model.IdeasWatchId }, null)
            </span>
        </li>
    }
</ul>

<div class="is--noteusermail"><i class="icon icon-mail4"></i> @Model.UserName <span class="is--notetime">(@DataModel.Utility.Base.GetTime(Model.CreatedOn))</span> </div>

<div class="commnetsContainer-main is--commentlabel">
    <span class="commnetsContainer-main-count"> @Model.CommentDetailList.Count() </span> comments
</div>

@if (DataModel.Utility.CurrentUser.CurrentUserDetail.IsSuperAdmin || DataModel.Utility.CurrentUser.CurrentUserDetail.IsReviewPanelMember || ideaPage == DataModel.Utility.Consts.IdeaPage.AddIdea)
{
    <div class="ideaStatus-container">

        <div class="idea-status idea-color-@Model.IdeaStatusId"><i class="icon icon-time"></i>@Model.CurrentStatusName 
        @if(Model.IdeaStatusId != DataModel.Utility.Consts.IdeaStatus.Pending)
        { 
        <i class="icon icon-info2" title="@Model.StatusChangedByName"></i>
        }
        </div>
        @if (ideaPage == DataModel.Utility.Consts.IdeaPage.ManageIdea || ideaPage == DataModel.Utility.Consts.IdeaPage.IdeaDetail)
        {
            <div class="noteChangeStatus">
                <span>
                    <i class="icon icon-adjust"></i><strong>Change Status : </strong>
                    @if (Model.NextStatusList.Count >0)
                {
                    foreach (var item in Model.NextStatusList)
                    {
                <span class="btnChangeStatus_tip">
                    <span class="is--progress">
                        <a href="#" data-ideaid="@Model.IdeasWatchId" data-statusid="@item.StatusId" class="btnChangeStatus"><i class="icon icon-meter"></i>@item.StatusName</a>
                    </span>
                </span>
                    }

                }
                else
                {
                <span class="btnChangeStatus_tip">
                    <span class="is--progress">
                        N/A
                    </span>
                </span>
                }
                </span>

            </div>
        }
    </div>


}
else
{
    <div class="ideaStatus-container">

        <div class="idea-status idea-color-@Model.IdeaStatusId"><i class="icon icon-time"></i>@Model.CurrentStatusName 
        @if(Model.IdeaStatusId != DataModel.Utility.Consts.IdeaStatus.Pending)
        {
        <i class="icon icon-info2" title="@Model.StatusChangedByName"></i>
        }
        </div>
    </div>
}
