﻿@model DataModel.BO.IdeasWatchDetail
@{
    ViewBag.Title = "IdeaDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string style = "";// "display: none;";
    string cls = "";
    var ideaWatchId = 0;
    if (Model != null)
    {
        bool childAdded = (ViewData.ContainsKey("ChildAdded"));

        if (childAdded)
        {
            style = "";
        }
        ideaWatchId = Model.IdeasWatchId;

        // int lastkeyIndex = Model.KeyList==null?0:Model.KeyList.Count - 1;
    }
   /// int ideaPage = ViewData["IdeaPage"] != null ? Convert.ToInt32(ViewData["IdeaPage"]) : 2;
}

<div id="pageDetail" data-isdetail="1"></div>
@if (Model != null)
{
    <div class="@cls col-sm-12 col-md-12 ideawatch-dtl">
        <h2 class="page-heading">
            @Model.Title @if (Model.IsBug)
            {<i class="icon icon-bug2" title="This idea for existing bug"></i>}
            <span class="idea-code">
                @Html.DisplayFor(m => m.IdeaCode)
            </span>
        </h2>
        <p class="ideawatch-para"> @Html.Raw(Model.Description)</p>
        <span id="EditIdea" data-isedited="@ViewBag.IsIdeaEdited"></span>
        @Html.Partial("_NoteDetail", Model, new ViewDataDictionary { { "IdeaPage", DataModel.Utility.Consts.IdeaPage.IdeaDetail } })


        <ul class="extraField-container">
            @if (Model.CategoryName != null)
            {
                <li><span class="boldtxt">Category          : </span> <span>@Model.CategoryName</span></li> }
            else
            {
                <li><span class="boldtxt">Category         : </span> <span>N/A</span></li>}
            @if (Model.ReplicatedName != null)
            {
                <li><span class="boldtxt">Replicated          : </span> <span>@Model.ReplicatedName</span></li>
            }
            else
            {
                <li><span class="boldtxt">Replicated          : </span> <span>N/A</span></li>
            }
            @if (Model.RelatedToName != null)
            {
                <li><span class="boldtxt">Related To          : </span> <span>@Model.RelatedToName</span></li>
            }
            else
            {
                <li><span class="boldtxt">Related To          : </span> <span>N/A</span></li>
            }
            @if (Model.CurrentScenario != null)
            {
                <li><span class="boldtxt">Current Scenario          : </span> <span>@Model.CurrentScenario</span></li>
            }
            else
            {
                <li><span class="boldtxt">Current Scenario          : </span> <span>N/A</span></li>
            }
            @if (Model.BenifitIdea != null)
            {
                <li><span class="boldtxt">Benefit of Idea         : </span> <span>@Model.BenifitIdea</span></li>
            }
            else
            {
                <li><span class="boldtxt">Benefit of Idea          : </span> <span>N/A</span></li>
            }
            @if (Model.UserName != null)
            {
                <li><span class="boldtxt">Created By         : </span> <span>@Model.UserName</span></li>
            }
            @if (Model.CreatedOn != null)
            {
                <li><span class="boldtxt">Timestamp         : </span> <span>@Model.CreatedOn</span></li>
            }
            @*@if (Model.PageNameModel != null)
            {
                <li><span class="boldtxt">Page Name          : </span> <span>@Model.PageNameModel.Name</span></li> }
            else
            {
                <li><span class="boldtxt">Page Name          : </span> <span>N/A</span></li>}
            @if (Model.PlatformTypeModel != null)
            {
                <li><span class="boldtxt">Platform Type      : </span> <span>@Model.PlatformTypeModel.Name</span></li> }
            else
            {
                <li><span class="boldtxt">Platform Type         : </span> <span>N/A</span></li>}
            @if (Model.ProductTypeModel != null)
            {
                <li><span class="boldtxt">Product Type       : </span> <span>@Model.ProductTypeModel.Name</span></li>}
            else
            {
                <li><span class="boldtxt">Product Type         : </span> <span>N/A</span></li>}
            @if (Model.BusinessImpactModel != null)
            {
                <li><span class="boldtxt">Business Impact    : </span> <span>@Model.BusinessImpactModel.Name</span></li> }
            else
            {
                <li><span class="boldtxt">Business Impact          : </span> <span>N/A</span></li>}
            @if (Model.BusinessObjectiveModel != null)
            {
                <li><span class="boldtxt">Business Objective : </span> <span>@Model.BusinessObjectiveModel.Name</span></li> }
            else
            {
                <li><span class="boldtxt">Business Objective          : </span> <span>N/A</span></li>}*@

        </ul>

        <div class="idea-dtl-comment">
            <a href="javascript: void();" onclick="javascript: $(this).next().toggle();" class="conmments-link"><span class="commnetsContainer-main-count"> @Model.CommentDetailList.Count() </span> comments <i class="icon icon-comments"></i></a>
            <div class="commnetsContainer" style="@style">
                <div class="commnetsContainer-list">
                    @Html.Partial("_Comments", Model.CommentDetailList)
                </div>




                <div class="textareaContainer" style="width: 100%">
                    <textarea class="txtComments" name="txtComments" style="width:100%"></textarea>

                    <button data-ideawatchid="@ideaWatchId" class="btnPostCommnet btn btn-sm btn-success" type="button"><i class="icon icon-comment"></i> Post</button>
                </div>


            </div>
        </div>


    </div>
}
else
{
    <div class="alert alert-danger"><i class="icon icon-sign"></i> <strong>No Records!</strong></div>
}

<script>
    $(function () {
        $('nav-tabs li').removeClass('active');
        $('#viewIdeali').addClass('active');
    });
</script>