﻿@model Tuple<DataModel.BO.IdeasWatchDetail, IPagedList<DataModel.BO.IdeasWatchDetail>>
@using PagedList
@using PagedList.Mvc
          
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IPagedList<DataModel.BO.IdeasWatchDetail> dataList = Model.Item2;
    //PagedList<DataModel.BO.IdeasWatchDetail> IdeasWatchList = ViewBag.IdeasWatchDetailList == null ? null : ViewBag.IdeasWatchDetailList;
}


@Html.Partial("_AddIdea", Model.Item1)
<button id="addScnt" style="display:none;"></button>
<div id="Ideas">
    @Html.Partial("_Ideas", dataList, new ViewDataDictionary { { "IdeaPage", DataModel.Utility.Consts.IdeaPage.AddIdea } })
</div>




@section Scripts {
    <script>
        ////   ----   file upload ----------
        $(document).on('change', 'input#fileToUpload', function (e) {
            doReCreate(e);
        });
        function doReCreate(e) {
            // alert('a');
            upc = upc + 1;
            handleFileSelect(e);

            $("input[id^='fileToUpload']").hide();

            $('<input>').attr({
                type: 'file',
                multiple: 'multiple',
                id: 'fileToUpload' + upc,
                class: 'fUpload',
                name: 'fileUpload',
                style: 'float: left',
                title: '  ',
                onchange: "doReCreate(event)"

            }).appendTo('#uploaders');
        }
        function handleFileSelect(e) {

            //selDiv.innerHTML = ""; storedFiles = []; 
            selDiv = document.querySelector("#selectedFiles");

            if (!e.target.files) return;

            //selDiv.innerHTML = "";
            files = e.target.files;

            for (var i = 0; i < files.length; i++) {
                //if (i == 0) { selDiv.innerHTML = ""; storedFiles = []; }
                var f = files[i];
                selDiv.innerHTML += "<li>" + f.name +
                "<a onclick='removeAtt(this)' class='remove-file' title='Remove'> <i class='icon icon-remove'></i></a></li>";
                storedFiles.push(f.name);
            }
            $('#@Html.IdFor(i => i.Item1.FilesToBeUploaded)').val(storedFiles);
        }

        function removeAtt(t) {
            var serEle = $(t).parent().text().slice(0, -3);
            var index = storedFiles.indexOf(serEle);
            if (index !== -1) {
                storedFiles.splice(index, 1);
            }
            $(t).parent().remove();

            $('#@Html.IdFor(i => i.Item1.FilesToBeUploaded)').val(storedFiles);

        }


    </script>
   @Scripts.Render("~/bundles/AddIdea")
}