﻿@model IPagedList<DataModel.BO.IdeasWatchDetail>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Manage Idea";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //  List<DataModel.BO.KeyCloud> ideaKeyList = ViewBag.IdeaKeyList;

}



<div id="ViewIdeasContainer">
    @*@Html.Partial("_Ideas", Model, new ViewDataDictionary { { "IdeaPage", DataModel.Utility.Consts.IdeaPage.PendingReview } })*@
</div>

@section Scripts {
   
    @*@Scripts.Render("~/bundles/ViewIdeaWatch")*@

}



