﻿@model IPagedList<DataModel.BO.IdeasWatchDetail>


@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Manage Idea";
   Layout = "~/Views/Shared/_Layout.cshtml";
   var ideaStatusList = new SelectList((System.Collections.IEnumerable)ViewBag.IdeaStatusList, "Value", "Text");
    //  List<DataModel.BO.KeyCloud> ideaKeyList = ViewBag.IdeaKeyList;
    //var item1 = Model.Item1;
    //var item2 = Model.Item2;
   bool enableChangeStatus = ViewBag.EnableChangeStatus == null ? false : ViewBag.EnableChangeStatus;
   }

<h2 class="page-heading ideabox"><i class="icon icon-lightbulb"></i> Manage Ideas </h2>
@*1= Pending Ideas, 2=Review Ideas , 3=Approved Ideas , 4=Rejected Ideas*@

<div class="add-idea-cnt clearfix">
    <div class="row-idea">
        <label class="col-md-2" style="line-height:30px;">Status Filter :</label>
        <div class="col-md-3">
            @Html.DropDownList("IdeaStatusList", ideaStatusList, new { id = "ddlIdeaStatusList", @Class = "form-control input-sm" })
        </div>
    </div>
    <input type="hidden" class="ideaStatus" data-status="1" />
   

</div>
<div id="ViewIdeasContainer-pending">
    @Html.Partial("_Ideas", Model, new ViewDataDictionary { { "IdeaPage", DataModel.Utility.Consts.IdeaPage.ManageIdea } })
</div>

@section Scripts {

@Scripts.Render("~/bundles/ManageIdea")
}



