﻿@model DataModel.BO.IdeasWatchDetail
@{
    bool IsViewOnly = ViewBag.IsViewOnly == null ? true : ViewBag.IsViewOnly;
    int lastkeyIndex = Model.KeyList == null ? 0 : Model.KeyList.Count - 1;
    //var subscribersLike = "";
    //var q = from l in Model.LikedUserList select l;
    //if (q.Count() > 0)
    //{
    //    subscribersLike = (q).Aggregate((c, n) => c + ", " + n);
    //}
    //var subscribersUnlike = "";
    //var s = from l in Model.UnlikedUserList select l;
    //if (s.Count() > 0)
    //{
    //    subscribersUnlike = (s).Aggregate((c, n) => c + ", " + n);
    //}
    //var aa = ViewBag.EnableChangeStatus;
    //bool enableChangeStatus = ViewBag.EnableChangeStatus == null ? false : ViewBag.EnableChangeStatus;

    int ideaPage = ViewData["IdeaPage"] != null ? Convert.ToInt32(ViewData["IdeaPage"]) : 2;

    // bool enableChangeStatus =ViewData["EnableChangeStatus"] != null ? Convert.ToBoolean(ViewData["EnableChangeStatus"]) : false;
}

@if (Model.KeyList != null && Model.KeyList.Count > 0)
{
    <div class="is-notetags">
        <i class="icon icon-tags"></i>
        @foreach (var key in Model.KeyList)
        {

            @Html.ActionLink(key.keyName, "ViewIdeasWatch", "IdeaWatch", new { keyId = key.keyId }, null)
            if (Model.KeyList[lastkeyIndex].keyId != key.keyId)
            {
                <span></span>
            }

        }

    </div>

}
<ul class="ideanote_list clearfix">
    <li class="pull-left">
        <div class="IdeaLikeUnlike-count">
            @Html.Partial("_IdeaLikeUnlike", Model)
        </div>
    </li>
    @if (Model.AttachmentList.Count > 0)
    {
        <li class="pull-left">
            <div class="is--noteattachment pull-left"><i class="icon icon-attachment"></i> (@Model.AttachmentList.Count) </div>
            <div id="fileContainer" class="pull-left">
                @foreach (var file in Model.AttachmentList)
                {
                    <span class="download-files pull-left">@file.FileName @*<a href="/IdeaWatch/DownloadFile?attachmentId=@file.AttachmentId" title="Download File"><i class="icon icon-download3"></i></a>*@  @*@Html.ActionLink("Download", "Download", "IdeaWatch", new { attachmentId = file.AttachmentId }, null)*@</span>
                    <div class="preview-files pull-left">
                        <a target="_blank" href="/IdeaWatch/PreviewFile?attachmentId=@file.AttachmentId"><i class="icon icon-image2"></i></a>
                        <div class="popover tip bottom">
                            <div class="arrow"></div><div class="popover-content">
                                @if (file.FileType == DataModel.Utility.Consts.FileType.Jpeg || file.FileType == DataModel.Utility.Consts.FileType.Jpg || file.FileType == DataModel.Utility.Consts.FileType.Gif || file.FileType == DataModel.Utility.Consts.FileType.Png)
                                { <img src="/IdeaWatch/PreviewFile?attachmentId=@file.AttachmentId" />}
                                else
                                { <span class="no-thumbnail-msg">No Thumbnail Preview!</span>}
                            </div>
                        </div>
                    </div>
                }
            </div>
        </li>
    }
    else if (Model.AttachmentCount > 0)
    {

        <li class="pull-left">
            <div class="is--noteattachment pull-left"><i class="icon icon-attachment"></i> (@Model.AttachmentCount) </div>
        </li>

    }



    @if (Model.IsEditPermission && (Model.IdeaStatusId == DataModel.Utility.Consts.IdeaStatus.Pending))
    {
        <li class="pull-left">
            <span class="label label-danger is--edit ">
                @Html.ActionLink("Edit", "EditIdea", "IdeaWatch", new { ideaWatchId = Model.IdeasWatchId }, null)
            </span>
        </li>
    }
</ul>

<div class="is--noteusermail"><i class="icon icon-mail4"></i> @Model.UserName <span class="is--notetime">(@DataModel.Utility.Base.GetTime(Model.CreatedOn))</span> </div>

<div class="commnetsContainer-main is--commentlabel">
    <span class="commnetsContainer-main-count"> @Model.CommentDetailList.Count() </span> comments
</div>

@if (DataModel.Utility.CurrentUser.CurrentUserDetail.IsSuperAdmin || DataModel.Utility.CurrentUser.CurrentUserDetail.IsReviewPanelMember || ideaPage == DataModel.Utility.Consts.IdeaPage.AddIdea)
{
    <div class="ideaStatus-container">
        @if (Model.IdeaStatusId == DataModel.Utility.Consts.IdeaStatus.Pending)
        {
            <div class="idea-status is--pending btn-warning"><i class="icon icon-time"></i>Pending </div>

            @*<div class="container">
                    <a href="#" title="Header" data-toggle="popover" data-trigger="hover" data-content="Some content">Change Status</a>
                </div>*@
            @*<a href="#" data-ideaid="@Model.IdeasWatchId">Change Status</a>*@
            if (ideaPage == DataModel.Utility.Consts.IdeaPage.ManageIdea || ideaPage == DataModel.Utility.Consts.IdeaPage.IdeaDetail)
            {
                <div class="noteChangeStatus">
                    <span>
                        <i class="icon icon-adjust"></i><strong>Change Status : </strong>
                        <span class="btnChangeStatus_tip">
                            <span class="is--progress">
                                <a href="#" data-ideaid="@Model.IdeasWatchId" data-statusid="@DataModel.Utility.Consts.IdeaStatus.InProgress" class="btnChangeStatus"><i class="icon icon-meter"></i>InProgress</a>
                            </span>
                        </span>
                    </span>

                </div>
            }


        }
        else if (Model.IdeaStatusId == DataModel.Utility.Consts.IdeaStatus.InProgress)
        {
            <div class="idea-status is--progress btn-info"><i class="icon icon-meter"></i>In Progress <i class="icon icon-info2" title="@Model.StatusChangedByName"></i></div>

            if (ideaPage == DataModel.Utility.Consts.IdeaPage.ManageIdea || ideaPage == DataModel.Utility.Consts.IdeaPage.IdeaDetail)
            {
                <div class="noteChangeStatus">
                    <span>
                        <i class="icon icon-adjust"></i><strong>Change Status : </strong>
                        <span class="btnChangeStatus_tip">
                            <span class="is--approved">
                                <a href="#" data-ideaid="@Model.IdeasWatchId" data-statusid="@DataModel.Utility.Consts.IdeaStatus.Approved" class="btnChangeStatus"><i class="icon icon-checkmark-circle"></i>Approve</a>
                            </span>
                            <span class="is--rejected">
                                <a href="#" data-ideaid="@Model.IdeasWatchId" data-statusid="@DataModel.Utility.Consts.IdeaStatus.Rejected" class="btnChangeStatus"><i class="icon icon-warning"></i>Reject</a>
                            </span>
                            <span class="is--pending">
                                <a href="#" data-ideaid="@Model.IdeasWatchId" data-statusid="@DataModel.Utility.Consts.IdeaStatus.Pending" class="btnChangeStatus"><i class="icon icon-time"></i>Pending</a>
                            </span>
                        </span>
                    </span>
                </div>
            }
            //<span>change status by: @Model.StatusChangedBy</span>

            @*<span class="label label-success is--edit">
                    <a href="#" data-ideaid="@Model.IdeasWatchId" class="btnApproveIdea">Approve</a>
                </span>
                <span class="label label-danger is--edit ">
                    <a href="#" data-ideaid="@Model.IdeasWatchId" class="btnRejectIdea">Reject</a>
                </span>*@
        }
        else if (Model.IdeaStatusId == DataModel.Utility.Consts.IdeaStatus.Approved)
        {
            <div class="idea-status is--approved btn-success"><i class="icon icon-checkmark-circle"></i>Approved <i class="icon icon-info2" title="@Model.StatusChangedByName"></i></div>

            if (ideaPage == DataModel.Utility.Consts.IdeaPage.ManageIdea || ideaPage == DataModel.Utility.Consts.IdeaPage.IdeaDetail)
            {
                <div class="noteChangeStatus">
                    <span>
                        <i class="icon icon-adjust"></i><strong>Change Status : </strong>
                        <span class="btnChangeStatus_tip">
                            <span class="is--progress">
                                <a href="#" data-ideaid="@Model.IdeasWatchId" data-statusid="@DataModel.Utility.Consts.IdeaStatus.InProgress" class="btnChangeStatus"><i class="icon icon-meter"></i>InProgress</a>
                            </span>
                            <span class="is--rejected">
                                <a href="#" data-ideaid="@Model.IdeasWatchId" data-statusid="@DataModel.Utility.Consts.IdeaStatus.Rejected" class="btnChangeStatus"><i class="icon icon-warning"></i>Reject</a>
                            </span>
                            <span class="is--pending">
                                <a href="#" data-ideaid="@Model.IdeasWatchId" data-statusid="@DataModel.Utility.Consts.IdeaStatus.Pending" class="btnChangeStatus"><i class="icon icon-time"></i>Pending</a>
                            </span>
                        </span>
                    </span>

                </div>
            }
            //<span>change status by: @Model.StatusChangedBy</span>
        }
        else if (Model.IdeaStatusId == DataModel.Utility.Consts.IdeaStatus.Rejected)
        {
            <div class="idea-status is--rejected btn-danger"><i class="icon icon-warning"></i>Rejected <i class="icon icon-info2" title="@Model.StatusChangedByName"></i></div>

            if (ideaPage == DataModel.Utility.Consts.IdeaPage.ManageIdea || ideaPage == DataModel.Utility.Consts.IdeaPage.IdeaDetail)
            {
                <div class="noteChangeStatus">
                    <span>
                        <i class="icon icon-adjust"></i><strong>Change Status : </strong>
                        <span class="btnChangeStatus_tip">
                            <span class="is--approved">
                                <a href="#" data-ideaid="@Model.IdeasWatchId" data-statusid="@DataModel.Utility.Consts.IdeaStatus.Approved" class="btnChangeStatus"><i class="icon icon-checkmark-circle"></i>Approve</a>
                            </span>
                            <span class="is--progress">
                                <a href="#" data-ideaid="@Model.IdeasWatchId" data-statusid="@DataModel.Utility.Consts.IdeaStatus.InProgress" class="btnChangeStatus"><i class="icon icon-meter"></i>InProgress</a>
                            </span>
                            <span class="is--pending">
                                <a href="#" data-ideaid="@Model.IdeasWatchId" data-statusid="@DataModel.Utility.Consts.IdeaStatus.Pending" class="btnChangeStatus"><i class="icon icon-time"></i>Pending</a>
                            </span>
                        </span>
                    </span>
                </div>
            }
            //<span>change status by: @Model.StatusChangedBy</span>
        }
    </div>

}
else
{
    <div class="ideaStatus-container is--normaluser">
        <div class="idea-status is--normal btn-default"></div>
    </div>
}
