﻿@model IPagedList<DataModel.BO.IdeasWatchDetail>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "ViewIdeas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //  List<DataModel.BO.KeyCloud> ideaKeyList = ViewBag.IdeaKeyList;

}

<div class="row">
<div class="col-md-12">
    <h2 class="page-heading ideabox"><i class="icon icon-lightbulb"></i> View Your Idea</h2>
    <div class="view-idea-cnt clearfix">

      

        <div class="row col-md-7">
            <div class="row-idea clearfix">
                <div class="col-lg-8 idea-cols">
                    <label>Idea Code<span class="reqired">*</span></label>
                    <input type="text" class="form-control input-sm" placeholder="Enter Idea Code" id="txtIdeaCode" />

                </div>

            </div>
            <div class="row-idea clearfix">
                <div style="padding-bottom:0;" class="col-lg-8 idea-cols">

                    <button class="btn btn-success btn-sm pull-left" type="button" id="btnSearch">
                        <i class="icon icon-search"></i><span> Search</span>
                    </button>
                </div>


            </div>

        </div>
        <div class="col-md-5 hidden-xs">

            <div id="keyController-main" class="keycontroll" style="width:500px;height:400px;">

                @*@foreach (var key in ideaKeyList)
                {
                    <span data-weight="@key.weight"><a class="btnKeyCloud" href="#">@key.text</a></span>
                    @*<button type="button" data-keyid="@key.keyId" class="btnIdeaKey btn btn-default">@key.keyName</button>
                }*@
            </div>

        </div>

    </div>

    </div>
 
</div>

<div class="row row-idea clearfix">
    <ol class="breadcrumb">
        
        @*<li>@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) - @Model.PageCount of <strong>40</strong></li>*@
        <li><strong>Sort by:</strong> </li>
        <li id="viewidea_link1" class="active"><i class="icon icon-star3"></i><a class="btnFilterIdea " data-fiterid="1" href="#">Recently Added</a></li>
        <li id="viewidea_link2" ><i class="icon icon-star3"></i><a class="btnFilterIdea" data-fiterid="2" href="#">Most Liked</a></li>
        <li id="viewidea_link4"><i class="icon icon-star3"></i><a class="btnFilterIdea" data-fiterid="4" href="#">Most Comments</a></li>
        <li class="is-category"><i class="icon icon-star3"></i> <a>By Category</a> @Html.DropDownList("ddlCategory_View", (List<SelectListItem>)ViewBag.CategoryList, new { @class = "" })</li>


    </ol>
</div>
@*1=Approved ideas, 2= Pending Ideas, 3=Rejected idea*@


<input type="hidden" class="ideaStatus" data-status="1" />
<div id="ViewIdeasContainer">


   


    @Html.Partial("_Ideas", Model, new ViewDataDictionary { { "IdeaPage", DataModel.Utility.Consts.IdeaPage.ViewIdea } })
</div>

@section Scripts {
    <script src="~/Scripts/jqcloud.min.js"></script>
    <link href="~/Content/jqcloud.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/ViewIdeaWatch")

}



