﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link id="siteicon" rel="shortcut icon" type="images/favicon" href="~/Content/images/favicon.ico">
    <title>_Layout2</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
