﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link id="siteicon" rel="shortcut icon" type="images/favicon" href="~/Content/images/favicon.ico">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <div>
        <header class="navbar-fixed-top">
            <div class="header__inner container">
                <a href="@Url.Action("Index","Dashboard")" class="header__logo" target="_blank">
                    <img src="~/Content/images/logo.png" alt="" />
                </a>
                <span class="header__info"><strong>Idea Next</strong> - Share Your Ideas</span>
                @Html.Partial("_LoginPartial")
            </div>
        </header>
        <div class="container body-content">
            @RenderBody()
        </div>
        </div>
    <div id="loading" class="app-loader"></div>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('div.profileDesc').hide();
            $(document).on('click', '#btnLoginSubmit', function () {   
                $('#loading, #app-loader-overlay').show();
            });
        });
    </script>
</body>
</html>
