﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="siteicon" rel="shortcut icon" type="images/favicon" href="~/Content/images/favicon.ico">
    <title>@ViewBag.Title - Idea Next</title>
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/jquery-1.10.2.js"></script>

    @*@Scripts.Render("~/bundles/modernizr")*@
    @*@Scripts.Render("~/bundles/HighCharts")*@

    <script src="~/Scripts/HighChart/highcharts.js"></script>
    @*<script src="http://code.highcharts.com/highcharts.js"></script>*@


</head>
<body>

    <header class="navbar-fixed-top">
        <div class="header__inner container">
            <a href="@Url.Action("Index","Dashboard")"  class="header__logo" target="_blank">
                <img src="~/Content/images/logo.png" alt="" />
            </a>
            <span class="header__info"><strong>Idea Next</strong> - Share Your Ideas</span>

            @Html.Partial("_LoginPartial")
        </div>
    </header>

    @*---------Loader----------*@
    <div id="app-loader-overlay" class="app-loader-overlay"></div>
    <div id="loading" class="app-loader"></div>
    @*---------Loader----------*@


    <main class="container body-content">
    
            @Html.Partial("_LeftMenu")
 
        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year - Fareportal. All rights are reserved.</p>
        </footer>
    </main>
    @*<div style="display:none;">
            <div id="wrapper"></div>
            <input id="add" type="button" value="Add text field" />
            <textarea id="dummy" name="dummy" cols="40" class="dummy"></textarea>
        </div>*@





    <div class="alertHolder">
        <div class="alert alert-info alert-block" id="mainWarningMsg" style="display: none;">
            <a herf="javascript:void(0)" class="closeBtn">x</a>
            <div id="mainWarningMsg1"></div>

        </div>
        <div class="alert alert-success" id="mainSuccessMsg" style="display: none;">
            <a herf="javascript:void(0)" class="closeBtn">×</a>
            <div id="mainSuccessMsg1"></div>
        </div>
        <div class="alert alert-danger" id="mainErrorMsg" style="display: none;">
            <a herf="javascript:void(0)" class="closeBtn">×</a>
            <div id="mainErrorMsg1"></div>
        </div>
    </div>
    @Scripts.Render("~/bundles/scripts")
    
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script src="~/Scripts/nicEdit-latest.js"></script>
       <script src="~/Scripts/IdeaWatch.js"></script>
        <link href="~/Content/jquery.tagsinput.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.tagsinput.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>

    @Scripts.Render("~/bundles/multiSelect")
    @Scripts.Render("~/bundles/ManageUser")

    @RenderSection("scripts", required: false)
    <script>

        $(function () {
            $('.alert .closeBtn').click(function () {
                $(this).parent().hide();
            });

        });

    </script>




</body>
</html>
