﻿ 
            <ul class="nav nav-tabs">
                <li role="presentation" class="@ViewBag.Active_Dashboard  is--Dashboard">@Html.ActionLink("Dashboard", "Index", "Dashboard")<i class="icon icon-dashboard"></i></li>
                <li role="presentation" id="viewIdeali" class="@ViewBag.Active_ViewIdea is--AddIdea">@Html.ActionLink("View Idea", "ViewIdeasWatch", "IdeaWatch")<i class="icon icon-lightbulb"></i></li>
                <li role="presentation" class="@ViewBag.Active_AddIdea is--AddIdea">@Html.ActionLink("Add Idea", "Index", "IdeaWatch")<i class="icon icon-lightbulb"></i></li>
                @if (DataModel.Utility.CurrentUser.CurrentUserDetail.IsSuperAdmin || DataModel.Utility.CurrentUser.CurrentUserDetail.IsReviewPanelMember)
                {
                    <li role="presentation" class="@ViewBag.Active_PendingIdea is--AddIdea">@Html.ActionLink("Manage Idea", "PendingReview", "IdeaWatch")<i class="icon icon-lightbulb"></i></li>

                }
                @if (DataModel.Utility.CurrentUser.CurrentUserDetail.IsSuperAdmin)
                {
                    <li role="presentation" class="@ViewBag.Active_ManagerUser is--ManageUser">@Html.ActionLink("Manage User", "Index", "ManageUser")<i class="icon icon-user2"></i></li>
                }
                
            </ul>
       
