﻿@using Microsoft.AspNet.Identity
@if (DataModel.Utility.CurrentUser.CurrentUserDetail.UserName != null)
{
    <div class="pull-right profileDesc">
      
            @*<img class="" src="@DataModel.Utility.CurrentUser.CurrentUserDetail.ImageUrl" width="30" height="30" style="margin-right:5px" alt="">*@
       
            <a class="is--emailid">Hello ! @DataModel.Utility.CurrentUser.CurrentUserDetail.UserName</a>
       
            @*@Html.ActionLink("Hello ! " + DataModel.Utility.CurrentUser.CurrentUserDetail.UserName + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage"})*@
      
        @Html.ActionLink("Log off", "LogOff", "Account", routeValues: null, htmlAttributes: new { @class = "headerAction is--logoff" })
    </div>

}

<script>
    $(function () {
        $('.is--logoff').prepend("<i class='icon icon-off'></i>");
    });
</script>