﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<br />
<h2 class="page-heading">Error</h2>

<div class="alert alert-danger">An error occurred while processing your request.</div>

