﻿/* Common Css start */
* {
    outline: none !important;
    
}

a:hover, a:focus{
    color:#d35d04 
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 14px;
    background: #eaedf1;
    /*background: url("images/bg.jpg") no-repeat scroll center top;*/
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}
label{
    margin-bottom:3px;
}
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    outline: none;
}

    a img {
        outline: none;
    }

img {
    border: 0;
}

.fLeft {
    float: left;
}

.fRight {
    float: right;
}

h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h4 {
    font-weight: normal;
}

form {
    margin: 0 !important;
    padding: 0;
}
.boldtxt{
    font-weight:bold;
}
/* Common Css end */

header {
    background: #007b91; /* Old browsers */
    background: -moz-linear-gradient(top,  #007b91 0%, #005f84 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #007b91 0%,#005f84 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #007b91 0%,#005f84 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007b91', endColorstr='#005f84',GradientType=0 ); /* IE6-9 */
    height: auto;
    min-height: 47px;
    position: relative;
    box-shadow: 0 1px 9px rgba(50, 50, 50, 0.36);
    border-bottom:3px solid #1482ad!important;
}

.header__logo {
    margin: 8px 0 8px 0px;
    display: inline-block;
}

.header__info {
    border-left: 1px solid #6DB9C6;
    color: #fff;
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    font-style: italic;
    height: auto;
    margin-left: 5px;
    padding-left: 10px;
    position: relative;
    text-transform: uppercase;
    top: 0;
}

    .header__info > img {
        margin-right: 5px;
    }

.container {
    width: 95%;
}

.profileDesc {
    border-left: 1px solid #6DB9C6;
    font-size: 13px;
    font-weight: bold;
    height: 47px;
    padding: 5px 0px 5px 15px;
}

    .profileDesc a {
        color: #fff;
        line-height: 37px;
        text-decoration: none;
        font-weight: normal;
    }

.profileImg {
    background: url("images/sprite.png") no-repeat scroll -34px -361px;
    display: inline-block;
    height: 21px;
    left: -7px;
    position: relative;
    top: 7px;
    width: 20px;
}

.profileDesc .headerAction {
    border-left: 1px solid #6DB9C6;
    color: #ffc043;
    display: inline;
    font-weight: bold;
    margin-left: 10px;
    padding: 0 0px 0 10px;
}
.icon.icon-off {
    font-size: 16px;
    position: relative;
    right: 3px;
    top: 3px;
}
.is--emailid{
    cursor:default;
}
.profileDesc .registerLink {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
}

.profileDesc img {
    border: 2px solid #fff;
    cursor: default;
}

.body-content {
    padding-top: 15px;
    padding-bottom: 20px;
    background: #fff;
    min-height: 600px;
    border-bottom: 5px solid #E3E3E3;
    margin-bottom: 50px;
    margin-top:50px;
}
.is--login-content{
    margin-top:0;
}

.page-heading {
    border-bottom: 1px solid #e2e2e2;
    color: #393939;
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 20px;
    padding: 0 0 10px;
    position: relative;
}

footer {
    background: #000;
    bottom: 0;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 99;
}

    footer > p {
        color: #fff;
        font-size: 12px;
        padding: 4px 0;
        text-align: center;
        margin-bottom: 0px;
        line-height: 30px;
    }

.banner {
    height: 150px;
    background: url("images/idea-banner.jpg") no-repeat center center;
    margin: -20px -15px 20px -15px;
    border-bottom: 3px solid #ffb82a;
}

button#Google {
    background: url("images/google-signin.png") no-repeat 0 0;
    width: 130px;
    height: 40px;
    border: 0px;
    text-indent: -9999px;
    cursor: pointer;
    outline: none;
}

.fc-header-title h2 {
    color: #0d68b1;
    margin-top: 0;
    white-space: nowrap;
}

.login_container {
    background: #F9F9F9;
    border: 1px solid #e2e2e2;
    margin: 0 auto;
    max-width: 450px;
    padding: 0 0 50px;
    text-align: left;
    margin-top: 50px;
}

    .login_container h4 {
        background: #0094AE;
        border-bottom: 1px solid #e2e2e2;
        color: #fff;
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 50px;
        padding: 10px 20px;
        text-align: center;
    }

    .login_container p {
        text-align: center;
    }

    .login_container hr {
        display: none;
    }

.validation-summary-errors {
    border: 1px solid;
    margin-bottom: 20px;
    padding: 10px;
}

.alertHolder {
    width: 400px;
    position: fixed;
    margin-left: 50%;
    left: -200px;
    top: 100px;
    z-index: 1500;
}

.closeBtn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    z-index: 99;
    color: #666;
    line-height: 15px;
    cursor: pointer;
    text-decoration: none;
}

    .closeBtn:hover {
        text-decoration: none;
        border: 0;
    }

.fc-event {
    position: relative;
}

.btnRemoveEvent {
    width: auto;
    height: auto;
    display: inline-block;
    position: relative;
    color: #ffda29;
    left: 20px;
    text-decoration: underline;
}

    .btnRemoveEvent:hover {
        text-decoration: underline;
        color: #ffda29;
    }

.fc-col0.fc-widget-header {
    font-size: 0;
}

.fc-widget-content:hover {
    background-image: url("images/book-button.png") !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
    cursor: pointer;
}

.ruleslink {
    font-size: 14px;
    font-weight: bold;
}

.fc-button {
    padding: 0 !important;
}

.fc-text-arrow {
    padding: 0 .6em;
    margin: 0;
}

.greyBG {
    background-color: rgb(187, 187, 187) !important;
    cursor: default !important;
}

.btnRefresh {
    background: url("images/refresh.png") left center no-repeat;
    padding: 5px 5px 5px 20px;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: -50px;
    font-size: 13px;
    text-decoration: none;
    color: #999;
}

.marquee {
    line-height: 19px;
    height: 19px;
    border-bottom: 1px solid #e2e2e2;
    font-size: 15px;
    color: #ff0000;
    padding: 0 10px;
    margin-top: -19px;
    margin-bottom: 7px;
    background: #eaedf1;
}

.nav-tabs {
    padding: 0;
    border-bottom: 3px solid #D35D04;
    margin-bottom: 15px;
}

    .nav-tabs li {
        margin-right: 5px;
    }

    .nav-tabs li {
        font-size: 16px;
        font-weight: bold;
        border: 0 !important;
        margin-bottom:0;

background: #f9af1c; /* Old browsers */
background: -moz-linear-gradient(top,  #f9af1c 0%, #dd8c1a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f9af1c 0%,#dd8c1a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f9af1c 0%,#dd8c1a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9af1c', endColorstr='#dd8c1a',GradientType=0 ); /* IE6-9 */


        color: #fff;
        position: relative;
    }

        .nav-tabs li.active {
            background: #D35D04 !important;
            color: #fff !important;
        }


    .nav-tabs a {
        font-size: 14px;
        font-weight: normal;
        border: 0 !important;
        background: none !important;
        color: #fff;
        padding:8px 10px 8px 30px!important;
        cursor: pointer !important;
        
    }

    .nav-tabs .active a {
        color: #fff !important;
        font-weight:bold;
    }

    .nav-tabs .icon {
        position: absolute;
        top: 11px;
        font-size: 14px;
        left: 11px;
    }

    .is--AddIdea .icon{
        font-size: 18px;
        top: 9px;
        left: 13px;
    }



.add-idea-cnt, .view-idea-cnt {
    background: #f9f9f9;
    border: 2px solid #007b91;
    padding: 15px 5px;
    -webkit-box-shadow: 3px 9px 14px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 9px 14px -10px rgba(0,0,0,0.75);
    box-shadow: 3px 9px 14px -10px rgba(0,0,0,0.75);
    margin-bottom: 30px;
    border-top:0;
}

    .add-idea-cnt .row, .view-idea-cnt .row {
        padding-bottom: 20px;
    }

.pagination {
    margin: 0 0px 0 10px;
}

.pagedList{
    border-bottom:1px solid #e2e2e2;
    padding-bottom:5px;
    margin-bottom:10px;
}
.pagedList.is-bottom{
    border-bottom:0px solid #e2e2e2;
    padding-bottom:0px;
    margin-bottom:0;
    border-top:1px solid #e2e2e2;
    padding-top:15px;
    margin-top:10px;
}
.is--pageof {
    color: #8b8b8b;
    font-size: 12px;
    font-weight: normal;
    line-height: 37px;
    padding: 0;
}

.is--recently{
    color: #47a447;
    font-size: 18px;
    font-weight: normal;
    padding: 0 10px 0 0px;
    line-height: 34px;
    color:#333;
}

#Ideas hr {
    margin: 10px 0;
}

.input-group-addon {
    vertical-align: top;
    line-height: 20px;
}

.ideanote-sticker {
    background: #fffcad;
    width: 84%;
    height: 150px;
    margin: 25px 8% 10px 8%;
    padding: 2%;
    -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
    transform: rotate(-2deg);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(255,217,217,1);
    -moz-box-shadow: 0px 4px 5px 0px rgba(217,217,217,1);
    box-shadow: 0px 4px 5px 0px rgba(217,217,217,1);
    position:relative;
}
.ideanote-sticker .icon{
    color: #c4c4c4;
    font-size: 32px;
    position: absolute;
    right: -9px;
    top: -4px;
    -ms-transform: rotate(70deg); /* IE 9 */
    -webkit-transform: rotate(70deg); /* Chrome, Safari, Opera */
    transform: rotate(70deg);

}

.ideanote {
    width: 76%;
    height: 120px;
    margin: 40px 12% 10px 12%;
    padding: 2%;
    color: #A94900;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    position:absolute;
    top:0;
}

    .ideanote a {
        color: #A94900;
        text-decoration:none;
    }

    .ideanot_content table{
        width:100%
    }
    .ideanot_content td{
        text-align:center;
        vertical-align:middle;
        height:105px;
    }

.ideanote_detail {
    padding: 10px 8% 10px 8%;
    font-size: 12px;
}

    .ideanote_detail .icon {
        font-size: 14px;
    }

    .ideanote_detail .is--edit {
        margin: 0;
        position: relative;
    }

        .ideanote_detail .is--edit a {
            text-decoration: none;
            padding: 0px 5px;
            color: #fff;
        }

.ideanote-block {
    height: 400px;
    border: 1px solid #eeeeee;
    margin:15px 0;
    position: relative;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(217,217,217,1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(217,217,217,1);
    box-shadow: 0px 1px 5px 0px rgba(217,217,217,1);
}
.ideanote-block:hover {
    -webkit-box-shadow: 0px 1px 10px 0px rgba(190,190,190,1);
    -moz-box-shadow: 0px 1px 10px 0px rgba(190,190,190,1);
    box-shadow: 0px 1px 10px 0px rgba(190,190,190,1);
}
.commnetsContainer {
    width: 100%;
}

.textareaContainer {
    padding-top: 10px;
}

.btnPostCommnet {
    margin-top: 10px;
}

.idea-cols {
    padding-bottom: 6px;
}

    .idea-cols input[type="checkbox"] {
        position: relative;
        top: 2px;
        margin-left: 2px;
    }

.row-idea .btn, .btnPostCommnet, .member__heading .is--viewall{
    margin-top:10px;
    background: #007b91; /* Old browsers */
    background: -moz-linear-gradient(top,  #007b91 0%, #005f84 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #007b91 0%,#005f84 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #007b91 0%,#005f84 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007b91', endColorstr='#005f84',GradientType=0 ); /* IE6-9 */
    border-color:#007b91;
    color:#fff;
}

.row-idea .btn:hover, .btnPostCommnet:hover, .member__heading .is--viewall:hover{
    margin-top:10px;
    background: #007b91; /* Old browsers */
    background: -moz-linear-gradient(top,  #005f84 0%, #007b91 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #005f84 0%, #007b91 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #005f84 0%, #007b91 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005f84', endColorstr='#007b91',GradientType=0 ); /* IE6-9 */
    border-color:#005f84;
}

.ideabox {
    background: #007b91; /* Old browsers */
    background: -moz-linear-gradient(top,  #007b91 0%, #005f84 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #007b91 0%,#005f84 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #007b91 0%,#005f84 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007b91', endColorstr='#005f84',GradientType=0 ); /* IE6-9 */
    border-bottom: 0 none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    padding:8px 10px 8px 28px;
}
.ideabox i{
    font-size: 20px;
    left: 10px;
    position: absolute;
    top: 6px;
}
.ideabox i.icon-user2{
    font-size: 16px;
    top: 7px;
}
.nicEdit-main {
    background: #fff;
    height: 60px !important;
    overflow-y: visible !important;
}

.keycontroll {
    border: 0;
    width: 100%;
    padding: 0px;
    background: none;
    margin: 0 auto;
    margin-top:-20px;
}

    .keycontroll button {
        margin-bottom: 10px;
    }

.bykey {
    background: #333;
    color: #fbfbfb;
    margin-bottom: 5px;
    padding: 5px;
}


.is--noteusermail {
    font-weight: normal;
    color: #666;
    line-height: normal;
    padding: 5px 0;
    font-size: 11px;
}

    .is--noteusermail .icon {
        position: relative;
        top: 2px;
        margin-right: 3px;
    }

.is--notetime {
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
    color: #999;
}

.is-notetags {
    color: #999;
    padding: 5px 0;
}

    .is-notetags a {
        background: #F8FDFE;
        border: 1px solid #e0e0e0;
        color: #13b7af;
        font-size: 12px;
        padding: 0 3px;
        display: inline-block;
        margin-bottom: 2px;
    }

        .is-notetags a:hover {
            background: #fff;
            text-decoration: none;
        }

    .is-notetags .icon {
        position: relative;
        top: 2px;
        color: #13b7af;
        margin-right: 3px;
    }

.is--notebug {
    bottom: -5px;
    color: #999;
    padding: 5px 0 0;
    position: absolute;
    right: -10px;
}

.is--noteattachment {
    font-weight: normal;
    color: #13b7af;
    line-height: normal;
    padding: 0;
    margin-top: 2px;
}

.is--notebug .icon {
    position: relative;
    font-size: 16px;
    color: #C21111;
    margin-right: 3px;
    top: 2px;
}

.ideawatch-dtl {
    padding-top: 20px;
}
.ideawatch-dtl .is--commentlabel{
     display:none
}

.ideawatch-dtl  .noteChangeStatus{
    margin-bottom:20px;
}
.ideawatch-para {
    margin-bottom: 10px;
    word-wrap: break-word;
}

    .ideawatch-para, .ideawatch-para span {
        font-size: 14px !important;
        color: #666 !important;
    }

.req-character {
    font-size: 11px;
}

.selected-files li {
    background: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #468847;
    font-size: 11px;
    margin-bottom: 3px;
    padding: 2px 5px;
    margin-right: 5px;
    float: left;
}

    .selected-files li a {
        color: #333;
        cursor: pointer;
        font-size: 10px;
        margin-left: 5px;
        text-decoration: none;
        float: right;
    }

        .selected-files li a:hover {
            color: #468847;
        }

.fUpload {
    width: 220px;
}

.like_count span {
    background: #08a900;
}

.unlike_count span {
    background: #929292;
}

.linkLikeIdea, .linkLikeIdea:hover {
    color: #08a900;
    background: url(images/like.png) 0 0 no-repeat;
    width: auto;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    position: relative;
    top: 0;
    margin: 0;
    outline: none !important;
    margin-left: 3px;
    padding-left: 22px;
    text-decoration: none !important;
}

.linkUnLikeIdea, .linkUnLikeIdea:hover {
    color: #929292;
    background: url(images/like_dis.png) 0 0 no-repeat;
    width: auto;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    position: relative;
    top: 0px;
    margin: 0;
    outline: none !important;
    margin-left: 3px;
    padding-left: 22px;
    text-decoration: none;
}

.ideanote_list {
    margin-bottom: 5px;
    margin-top: 10px;
}

    .ideanote_list li {
        margin-right: 15px;
        border-right: 1px solid #e2e2e2;
        padding: 0 15px 0 0;
        height: 20px;
    }

        .ideanote_list li.last {
            margin-right: 0;
            border-right: 0;
        }

.is--commentlabel {
    font-size: 12px;
    color: #999;
    margin-top: 2px;
}

.is--notedelete {
     background: #636060;
    bottom: 0;
    color: #999;
    display: inline-block;
    height: 27px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 27px;
    border-left: 2px solid #fff;
}

    .is--notedelete a {
        text-decoration: none;
    }

    .is--notedelete .icon {
        color: #fff;
    font-size: 16px;
    position: relative;
    top: 5px
    }

#description-container {
    background: #fff;
}

.page-heading .icon-bug2 {
    color: #a94900;
    font-size: 18px;
}

.download-files {
    color: #666;
    display: inline-block;
    font-size: 12px;
    margin: 2px 5px 0 15px;
    position: relative;
    padding-right: 5px;
}

    .download-files a {
        color: #13b7af;
    }

    .download-files i.icon-download3 {
        font-size: 16px;
        cursor: pointer;
        position: absolute;
        right: 3px;
        top: 0;
    }

.preview-files {
    padding-right: 10px;
    position: relative;
    margin-top: 2px;
}

    .preview-files a {
        text-decoration: none;
        color: #E0594B;
    }

    .preview-files i {
        font-size: 16px;
        cursor: pointer;
    }

    .preview-files:hover .tip {
        display: block !important;
        left: 0;
        margin-left: -117px;
        margin-top: 19px;
    }

    .preview-files .tip img {
        max-width: 100%;
    }

.hide-download-files .download-files, .hide-download-files .preview-files {
    display: none;
}

.breadcrumb {

    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

    border: 0px dashed #ababab;
    margin: 0 15px;
    padding: 8px 15px;
    border-radius: 0px;
    margin-bottom: 15px;
    box-shadow: 0 0px 2px rgba(50, 50, 50, 0.36);
    font-size: 12px;
    color:#fff;
    margin-top:-30px;
}

    .breadcrumb .icon {
        color: #ffcb3e;
        margin-right: 5px;
    }

    .breadcrumb a {
        outline: none;
        color: #ffcb3e;
        font-weight: bold;
        text-decoration:none;
    }

    .breadcrumb li:hover a, .breadcrumb li:hover .icon, .breadcrumb li.active a, .breadcrumb li.active .icon {
        color: #FF7F51;
        text-decoration:none;
    }

    .breadcrumb select{
        border:1px solid #cccccc;
        border-radius: 4px;
        padding:2px 5px;
        margin-left:5px;
    }

    .breadcrumb .is-category{
        cursor:default;
    }

.idea-dtl-comment {
    padding: 20px 0;
}

.comment-list {
    padding: 10px 10px;
    border: 1px solid #E7E7E7;
    font-size: 14px;
    margin: 10px 0;
    box-shadow: 0 0px 2px #e2e2e2;
    background: #fcfcfc;
    height:auto;
    overflow:hidden;
}

.comment-tbl {
    width: 100%;
    border: 0;
}

    .comment-tbl td {
        vertical-align: top;
        font-size: 12px;
        color: #666;
        line-height: 19px;
    }

    .comment-tbl .is--noteusermail {
        padding-top: 0;
    }

.comment-profileimg {
    margin: 2px 5px 0 0;
    border: 2px solid #EFEFEF;
}

.rply-comment-list {
    border: 0;
    border-top: 1px solid #E7E7E7;
    box-shadow: none;

}

.commnetReplyContainer-main {
    padding-left: 38px;
}

.conmments-link, .conmments-link:hover, .conmments-link:focus {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    outline: none;
}

.is--reply, .is--reply:hover, .is--reply:focus {
    color: #13b7af;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    outline: none;
}

.txtCommentsReply {
    border: 2px solid #ccc;
    color: #666;
    font-size: 12px;
    height: auto;
    min-height: 30px;
    padding: 0 10px;
}

    .txtCommentsReply:focus {
        border: 2px solid #13b7af;
    }

.reqired {
    color: #ff0000;
}

.comment-tbl p {
    margin-bottom: 15px;
    color: #444;
}

.tip {
    left: 162px;
    padding-bottom: 10px;
    width: 250px;
    word-wrap: break-word;
    height: auto;
    top: 50%;
}

.noteTitle:hover .tip {
    display: block !important;
}

.tip .popover-content {
    overflow-y: auto;
    font-size: 12px;
    color: #666;
    max-height: 150px;
    overflow-y: auto;
}


.ChangeStatus_tip .ChangeStatus_popover-content {
    overflow-y: auto;
    font-size: 12px;
    color: #666;
    max-height: 150px;
    overflow-y: auto;
}

.is--existingbug {
    color: #999;
}

    .is--existingbug i {
        position: relative;
        top: 2px;
    }

.is--edit a {
    color: #fff;
    text-decoration: none;
}

.ideawatch-dtl .is--edit {
    position: relative;
    top: -2px;
}

.icon-attachment {
    position: relative;
    top: 2px;
}

.no-thumbnail-msg {
    color: #c31818;
    font-size: 13px;
}

/*alert  popup*/
.alertHolder {width: 400px;position: fixed;margin-left: 50%;left: -200px;top: 100px;z-index: 1500;}
.closeBtn{ position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  z-index: 99;
  color: #666;
  line-height: 15px;
  cursor:pointer;
  text-decoration:none;
}
.closeBtn:hover{text-decoration:none;border:0;}

.app-loader-overlay {
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 9998;
    display:none;
}

.app-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 9999;
    background: url("../Content/images/ajax-loader.gif") center center no-repeat;
    display:none;
}
.page-elem-select select{max-width:90%;}
.existingbug{ padding-top:25px;}
.uploadfiles{ padding-top:25px;}
.extraField-container > li {
    color: #666;
    font-size: 12px;
    line-height: 18px;
}
.extraField-container .boldtxt{color:#333;}


/*added for multi select*/
.multiText { padding:2px;}
.multiText li{margin: 1px;padding: 0 4px;}
#pageNameOwnerLi .multiText{height:auto!important; cursor:text;}
.multiHolder { font-family: Arial, Helvetica, sans-serif; font-size: 12px;}
.multiText { background-color: #FFF; border: 1px solid #CCC; height: auto; width: auto; padding:0;margin: 0; }
.multiText input { height: 30px; padding:0px 5px; width: 1px; border: none; outline:none; float: left; display: block; margin-top: 2px; }
.multiText ul{ padding:0;margin: 0;}
.multiText li { display: block !important; line-height:22px; float: left; list-style-type: none; background-color: #EAEAEA; padding: 2px; margin: 2px; border: 1px solid #C3C3C3; color: #333; text-transform: capitalize; }
.multiText ul li img { margin-bottom: 0; margin-left: 2px; opacity:0.5 }
.multiText ul li:hover img { opacity:1; }
.multiText li.selected { background-color: #CCCCCC; border: #BEBEBE; }
.multiText span { display: block; float: left; }
.itemList li  { display: block !important; padding: 3px; cursor: default; text-transform: capitalize; margin: 0; }
.clr { clear: both; height: 1px; width: auto; }
.itemList li.selected  { color: #FFF; background-color: #39F; }
.itemList  { clear: both; position: relative; height: 1px; margin-top: 1px; overflow: visible; display: none  !important; }
.itemList ul { display: block !important; max-height: 300px; overflow: scroll; overflow-x:hidden; background-color: #FFF; border: 1px solid #CCC; position: absolute; left: 0px; top: 0px; width: 100%;z-index: 999;padding: 0;}
.notification { clear: both; background-color: #FFF; border: 1px solid #CCC; margin-top: 1px; padding: 3px;font-size: 11px; color: #666; }
.itemList li.show,  .itemList.show { display: block !important; }
.itemList li.hide,  .itemList.hide { display: none !important; }
.multiText button.close{ margin:0 5px;}
.close { float:right; font-size:21px; font-weight:bold; line-height:1; color:#000000; text-shadow:0 1px 0 #ffffff; opacity:0.2; filter:alpha(opacity=20); }
.close:hover, .close:focus { color:#000000; text-decoration:none; cursor:pointer; opacity:0.5; filter:alpha(opacity=50); }
button.close { padding:0; cursor:pointer; background:transparent; border:0; -webkit-appearance:none; }

.review-panel-member{ 
    padding:20px 40px;
}
.review-panel-member label{ 
    padding:5px 0;
}
.content-member{
    padding:30px 0 10px 0;
}

.member__heading{
    border-bottom:2px solid #e2e2e2; 
    padding: 10px;
    margin: 0 20px 10px 0;
    background:#f9f9f9;
}

.member__heading .icon{
    margin-right:5px;
}
.member__heading .btn, .member__heading .btn:hover{
    margin-top:0;
}
.member__list{
    padding:0 0 0 35px;  
}

.member__list *, .member__list *::before, .member__list *::after{
    vertical-align:top;
}

.list__item{
    margin-bottom:5px;
    list-style-type:decimal;
   
}

.list__item a{
    text-decoration:none;
    margin-left:8px;
    display:inline-block;
}

.ideaStatus-container .label{ 
    margin-right:3px;
}

.chart-status-block{
    height:auto;
    overflow:hidden;
    position:relative;
    z-index:1;
    margin:-15px 0 20px 0;
}
    .chart-status-block .topspace {
        height:20px;
        background:#fff;
    }

.chart-status-info{
    padding:10px 10px 5px 10px;
    height:auto;
    overflow:hidden;
    border:1px solid #e2e2e2;
    background:#f9f9f9;


}

.chart-status-info li{
    text-align:center;
    cursor:pointer;
    font-weight:normal; 
    padding:5px 10px;
    
}
.is--label{
    color:#000;
    font-weight:bold;
    font-size:13px;
    
}
.is--data{
    color:#666;
    font-size:12px;
 
}

.active .is--label{
    color:#D35D04 ;
}

.is--status{
    font-size:11px;
    top:-2px;
    left:3px;
    font-style:italic;
    position:relative;

}
.is--status  .icon{
    font-size:12px;
    position:relative;
    top:1px;
    margin-right:0;
}

.is--red-link, .is--red-link i{
    color:#D70000;
    font-size:12px;
    text-decoration:none;
    margin-right:3px;
    vertical-align:middle!important;
    line-height:15px;
}
.is--red-link:hover, .is--red-link:hover i, .is--red-link:focus, .is--red-link:focus i{
    color:#333;
    text-decoration:none;
}

.is--green-link, .is--green-link i{
    color:#319D30;
    font-size:12px;
    text-decoration:none;
    margin-right:3px;
}
.is--green-link:hover, .is--green-link:hover i, .is--green-link:focus, .is--green-link:focus i{
    color:#333;
    text-decoration:none;
}

.add-del-cate{
    margin-top:27px;
    margin-left:-10px;
}

.add-del-cate .is--red-link i{
    position:relative;
    top:-2px;
}

.add-del-cate a{ 
    margin-right:10px;
}

.pagination a{
    color:#999;
}
.pagination a:hover{
    color:#D35D04;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
   background: #D35D04; 
   border-color:#D35D04;

}

.idea-status {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    padding:5px 10px;
    font-weight:bold;
    text-align:center;
    height:27px;
    color:#fff;
}

.idea-status .icon{
    margin-right:3px;
    position:relative; 
    top:2px;

}

.idea-code{
    bottom: 6px;
    color: #666;
    font-size: 10px;
    font-weight: bold;
    left: 6px;
    position: absolute;
    background:#fff;
    display:inline-block;
    padding:0px 3px;
}
.ideawatch-dtl .idea-code{
     background: #5cb85c;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
    position: relative;
    top: -3px;
}
.ideawatch-dtl .page-heading{
    text-transform:uppercase;
    font-weight:bold;
    font-size:20px;
}

.ideawatch-dtl .idea-status{
    position:relative;
    margin:10px 0;
    width:150px;
    line-height:16px;
}

.ideawatch-dtl .idea-status .icon{
    top:1px;
}
.noteChangeStatus{
    padding:5px 0;
    border-top:1px solid #eeeeee;
    border-bottom:1px solid #eeeeee;
    font-size:11px;
    color:#d35d04;
    margin-top:10px;
}

.noteChangeStatus i{
    position:relative;
    top:2px;
    margin-right:3px;
}

.noteChangeStatus .btnChangeStatus_tip {
    font-size:11px;

}
.noteChangeStatus .btnChangeStatus_tip i{
    position:relative;
    top:1px;
    margin-right:3px;
    margin-left:3px;
}
.noteChangeStatus .btnChangeStatus_tip .icon{
    font-size:11px;
}
.noteChangeStatus .btnChangeStatus_tip a{
        color:#999;
        text-decoration:none;
}
.noteChangeStatus .btnChangeStatus_tip a:hover{
        color:#4C46D5;
}
#txtIdeaCode{
    max-width:180px;
}

.btnPostCommnetDelete, .btnReplyCommnetDelete {
    display:none;
    padding:5px;
    background:#EFEFEF;
    height:20px;
    width:20px;
}
.btnPostCommnetDelete i, .btnReplyCommnetDelete i {
    position:relative;
    top:-4px;
    left:-1px;
    color:#d70000;
}
.comment-list:hover .btnPostCommnetDelete{
    display:block;
    
}

.rply-comment-list:hover .btnReplyCommnetDelete{
     display:block;
}

.btnIdeaStatus_dashboard i{
    position:relative;
    right:5px;
}
.idea-status.is--normal {
    background: #999;
}
.btnIdeaStatus_dashboard, .btnIdeaStatus_dashboard:hover, .btnIdeaStatus_dashboard:focus {
    border:2px solid #fff;
}
    .btnIdeaStatus_dashboard.active {
        border:2px solid #fff;
        border-bottom:2px solid #000;
    }
#addCategoryModal .modal-body label{
    padding-left:0;
}
.ideawatch-dtl .is--normaluser .idea-status{
    display:none;
}
.is--CurrentScenario .nicEdit-panel, .is--BenifitofIdea .nicEdit-panel{
    display:none;
    margin:0!important;
}
.is--CurrentScenario .nicEdit-panelContain, .is--BenifitofIdea .nicEdit-panelContain{
    border-bottom:0!important;
}

.idea-color-1 {
    background: #f0ad4e;
}
.idea-color-2 {
    background: #39b3d7;
}
.idea-color-3 {
    background: #47a447;
}
.idea-color-4 {
    background: #d2322d;
}
.idea-color-5 {
    background: #2348cb;
}
.idea-color-6 {
    background: #11B1B4;
}
.idea-color-7 {
    background: #AA3FC4;
}

.btn-inprogress {
    background: #2348cb;
    color: #fff;
}
.btn-done{
    background: #11B1B4;
    color: #fff;
}
.btn-live{
    background: #AA3FC4;
    color: #fff;
}

@media (max-width: 1199px) {
    .uploadfiles {
        padding-top: 0px;
    }

    .existingbug {
        padding-top: 0px;
    }
}

    
@media (max-width: 980px) {
    .header__inner{ padding:0px;}
    .is--emailid{ display:none}
    .profileDesc .headerAction{
        margin-left: 5px;
    }
}

@media (max-width: 767px) {
    .nav-tabs a{
        padding:8px 5px 8px 25px !important;
    }
    .nav-tabs .icon{
        left:8px;
    }
    .is--AddIdea .icon{
        left:10px;
    }
}

@media (max-width: 600px) {
    .header__logo {
        float: left;
        height: auto;
        overflow: hidden;
        width: 46px;
    }
    .header__info {
        top:13px;
    }
    .nav-tabs li{
        width:100%;
    }
}

@media (max-width: 480px) {
    .profileDesc{
        padding-left:5px;
    }
    .profileDesc img{
        display:none;
    }
    .profileDesc .headerAction {
        border-left:0;
        margin:0;
    }
}