﻿@model Tuple<List<DataModel.BO.UserDetail>, List<DataModel.BO.UserDetail>, List<string>>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userOfReviewpanel = Model.Item1;
    var userWithoutReviewpanel = Model.Item2;
    var superAdminList = Model.Item3;
  
}


<div id="addReviewPanelHolder">
    <h2 class="page-heading ideabox"><i class="icon icon-user2"></i> Manage User </h2>
    <div class="add-idea-cnt clearfix">
        <div class="row-idea">
            <div class="col-lg-12 idea-cols">
                    <label>Review Panel Member:</label>
                    <div class="multiHolder" id="pageNameOwnerLi" style="max-width:500px;">
                        <div class="multiText">
                            <ul></ul>
                            <input type="text" id="pageNameOwnerText" class="" />
                            <div class="clr"></div>
                        </div>
                        <div class="itemList">
                            <ul id="itemListUl-PageName-container">
                                @foreach (var v in userWithoutReviewpanel)
                                {
                                    <li id="@v.UserId">@v.UserName</li>
                                }
                            </ul>
                        </div>
                    </div>
            </div>
        </div>

        <div class="row-idea">
            <div class="col-lg-12"><button type="button" class="btn btn-success btn-sm" id="saveNewMember"><i class="icon icon-plus"></i>&nbsp;Add</button></div>
            </div>
            <input type="hidden" data-status="1" class="ideaStatus">
        </div>

    <div class="row">
        <div class="col-md-4 is--addedMembers">
            <h4 class="member__heading"><i class="icon icon-users"></i>Users</h4>
            <ul id="ListUsers" class="member__list">
                @foreach (var v in userWithoutReviewpanel)
                {
                    <li class="list__item" id="@v.UserId">@v.UserName</li>
                }
            </ul>
        </div> 
        <div class="col-md-4 is--addedMembers">
            <h4 class="member__heading"><i class="icon icon-users"></i>Review Panel Member</h4>
            <ul id="ListAddedPanelMember" class="member__list">
                @foreach (var v in userOfReviewpanel)
                {
                    <li class="list__item" id="@v.UserId">@v.UserName<a href="#" data-userid="@v.UserId" data-name="@v.UserName" class="btnpanelMemberDelete is--red-link"><i class="icon icon-remove"></i> Delete</a></li>
                }
            </ul>
        </div>  
        <div class="col-md-4 is--sadminMembers">
            <h4 class="member__heading"><i class="icon icon-users"></i>Super Admin</h4>

            <ul id="SuperAdminPanelMember" class="member__list">
                @foreach (var v in superAdminList)
                {
                    <li class="list__item">@v</li>
                }
               
            </ul>
        </div>
    </div>
</div>




<script type="text/javascript">

    $(document).ready(function () {
        //populate the vehicle select list
        // append new option to list

        $('ul#itemListUl-PageName-container li').each(function () {
            
        });


    });

</script>

