﻿@model DataModel.BO.IdeasWatchList
@{

    string ideaList = ViewData["IdeaList"] != null ? Convert.ToString(ViewData["IdeaList"]) : null;
}
@*<div class="chart-status-info">
    <ul id="chartDataDetail" class="chart-status-list"></ul>
</div>*@
<div class="row">
    <div class="col-md-12">
        <div id="ideaList_Dashboard">
            @{Html.RenderPartial("_IdeaListDashboard", Model, new ViewDataDictionary { { "IdeaList", ideaList } });}
        </div>
    </div>
</div>
