﻿@model DataModel.BO.IdeasWatchList
@{
    var title = "Idea Status";
    if (!DataModel.Utility.CurrentUser.CurrentUserDetail.IsReviewPanelMember && !DataModel.Utility.CurrentUser.CurrentUserDetail.IsSuperAdmin)
    {
        title = "My Ideas";

    }
    string ideaList = ViewData["IdeaList"] != null ? Convert.ToString(ViewData["IdeaList"]) : null;
    var statusClass = "label-success";
    var statusIcon = "icon-checkmark-circle";
    if (Model.IdeasWatchDetailList.Count > 0)
    {
        if (Model.IdeasWatchDetailList[0].IdeaStatusId == DataModel.Utility.Consts.IdeaStatus.Approved)
        {
            statusClass = "btn-success";
            statusIcon = "icon-checkmark-circle";
        }
        else if (Model.IdeasWatchDetailList[0].IdeaStatusId == DataModel.Utility.Consts.IdeaStatus.Pending)
        {
            statusClass = "label-warning";
            statusIcon = "icon-time";
        }
        else if (Model.IdeasWatchDetailList[0].IdeaStatusId == DataModel.Utility.Consts.IdeaStatus.Review)
        {
            statusClass = "label-info";
            statusIcon = "icon-meter";
        }
        else if (Model.IdeasWatchDetailList[0].IdeaStatusId == DataModel.Utility.Consts.IdeaStatus.Rejected)
        {
            statusClass = "label-danger";
            statusIcon = "icon-warning";
        }
        else if (Model.IdeasWatchDetailList[0].IdeaStatusId == DataModel.Utility.Consts.IdeaStatus.InProgress)
        {
            statusClass = "btn-inprogress";
            statusIcon = "icon-time";
        }
        else if (Model.IdeasWatchDetailList[0].IdeaStatusId == DataModel.Utility.Consts.IdeaStatus.Done)
        {
            statusClass = "btn-done";
            statusIcon = "icon-checkmark-circle";
        }
        else if (Model.IdeasWatchDetailList[0].IdeaStatusId == DataModel.Utility.Consts.IdeaStatus.Live)
        {
            statusClass = "btn-live";
            statusIcon = "icon-checkmark-circle";
        }
    }
}

<div class="col-md-12 is--sadminMembers">
    @if (ideaList != null  )
    {
        <h4 class="member__heading ">
            <i class="icon icon-lightbulb"></i>@title
            <label class="is--status label @statusClass"><i class="icon @statusIcon"></i> @Model.IdeasWatchDetailList[0].Status</label>
            @if (ideaList == null && Model.TotalRecords > 10)
            {
                <a id="btnMoreIdea_Dashboard" class="btn btn-xs btn-success pull-right is--viewall" href="@Url.Action("IdeaList", "Dashboard", new { ideaStatusId = Model.IdeasWatchDetailList[0].IdeaStatusId })">View All</a>

            }

        </h4>
    }
    else
    {
        <h4 class="member__heading">
            <i class="icon icon-lightbulb"></i>@title <span id="spnTop10">(Top 10)</span>
           @if (Model.IdeasWatchDetailList.Count > 0)
           { <label class="is--status label @statusClass"><i class="icon @statusIcon"></i> @Model.IdeasWatchDetailList[0].Status</label>}

            @if (ideaList == null && Model.TotalRecords > 10)
            {  <a id="btnMoreIdea_Dashboard" class="btn btn-xs btn-success pull-right is--viewall" href="@Url.Action("IdeaList", "Dashboard", new { ideaStatusId = Model.IdeasWatchDetailList[0].IdeaStatusId })">View All</a>

            }
        </h4>
    }

    <ul id="SuperAdminPanelMember" class="member__list">
        @foreach (var idea in Model.IdeasWatchDetailList)
        {
            <li class="list__item"><a href="/IdeaWatch/IdeaWatchDeatil?ideaWatchId=@idea.IdeasWatchId">@idea.Title</a></li>
        }
@if (Model.IdeasWatchDetailList.Count == 0) { <span class="text-danger">No Records Found</span>  }
    </ul>




</div>

