﻿@model IPagedList<DataModel.BO.IdeasWatchList>
@using PagedList
@using PagedList.Mvc
<ul id="SuperAdminPanelMember" class="member__list">
    @foreach (var idea in Model[0].IdeasWatchDetailList)
    {
        <li class="list__item"><a href="/IdeaWatch/IdeaWatchDeatil?ideaWatchId=@idea.IdeasWatchId">@idea.Title</a></li>
    }
</ul>

