﻿@model DataModel.BO.IdeasWatchList
@{
    ViewBag.Title = "IdeaList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Idea List";
    var idealist = ViewBag.IdeaList;
}

<h2 class="page-heading">@title</h2>

@{Html.RenderPartial("_IdeaStatusPanel", Model, new ViewDataDictionary {{ "IdeaList", idealist }});}

@section Scripts {
    @Scripts.Render("~/bundles/Dashboard")

}




