﻿@model DataModel.BO.IdeasWatchList
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Idea Overview";
    if (!DataModel.Utility.CurrentUser.CurrentUserDetail.IsReviewPanelMember && !DataModel.Utility.CurrentUser.CurrentUserDetail.IsSuperAdmin)
    {
        title = "My Ideas";

    }
}


<div class="row">
    <div class="col-md-12"><h2 class="page-heading">@title</h2></div>
    <div class="col-md-6">
        <div class="chart-block">
            <div id="container1"></div>
            <div id="container2"></div>
            <div class="chart-status-block">
                <div class="topspace"></div>
                <div class="chart-status-info">
                    <ul id="chartDataDetail" class="chart-status-list"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">

        <div>
            @{Html.RenderPartial("_IdeaStatusPanel", Model);}
        </div>
    </div>
</div>
    
   
@*<div class="row text-center" style="width:45%;">
    <strong>Approved :</strong> <span id="txtApproved"></span>
    <strong>Rejected :</strong> <span id="txtRejected"></span>
    <strong>Pending :</strong> <span id="txtPending"></span>
</div>*@

 

@section Scripts {
    @Scripts.Render("~/bundles/Dashboard")

}
